<nav class="top-nav">
    <a href="#" class="main top-nav-link" id="top-nav-hover"> <i class="fas fa-bars"></i> </a>
    <ul class="nav-list">
        <li> <a href="index.html" class="main"> <i class="fas fa-home"></i> Strona Główna</a> </li>
        <li> <a href="kod.html"> <i class="fas fa-code"></i> Kod </a> </li>
        <li> <a href="#code"> <i class="fas fa-database"></i> Struktury danych </a> </li>
        <li> <a href="#sort"> <i class="fas fa-signal"></i> Sortowanie </a></li>
        <li> <a href="#graphs"> <i class="fas fa-project-diagram"></i> Grafy </a> </li>
        <li> <a> <i class="fas fa-cubes"></i> Dynamiki </a> </li>
        <li> <a href="#text"> <i class="fas fa-align-left"></i> Teksty </a> </li>
        <li> <a href="#text"> <i class="fas fa-plus"></i> Przydatne techniki </a> </li>
    </ul>

</nav>